
package pages

import (
	"github.com/conneroisu/go-htmx-templ-tailwind-template/internal/components"
)

templ Home(name []string) {
	@components.Page("Home") {
		for _, n := range name {
			<h1>Hello, { n }!</h1>
		}
	}
}
